:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5;
  font-weight: 400; */

  /* margin-top: -8rem; */

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  /* -webkit-text-size-adjust: 100%; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  /* margin: 1rem; */
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}




.carousel-item-img{

  /* object-fit: cover; */

  width: 100%;
  height: 500px;
}

.ratio1{
  position:relative;
  width: 1500px;
  object-fit: cover;
  height:1000px;
  
}

.ratio{
  height:1000px;
  position: absolute;
}





/* opacidad */

/* .text-primary {
  --bs-text-opacity: .5;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
} */


.player-wrapper {
  position: relative;
  /* padding-top: 56.25%; /*Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  /* top: 0;
  left: 0; */
}

.bg-alert-mio{
background-color: #5aa7f3;
  
}

.container-fluid1{
 width: 100%;
 height: 100vh;
}

.abc{
  /* justify-content: space-between; */
  /* align-content: space-around; */
    margin: 10px;
}
.fount{
text-align: center; /*para alinear en el centro*/
}

.img-fount{  /*para hacer responsive una imagen*/

  width: 100%;
  height: 300px;
  /* object-fit: cover; */
  /* object-position: bottom; */
}

.img-2{
  width: 100%;
  height: 100px;

}





  
.text-center-min{
  width:10%;
  font-size: -3rem;
  font-weight: 100;
  
}




@keyframes gif-move{
  from{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  to{
     transform:scale(1.1);
     -webkit-transform:scale(1.1);
     -moz-transform:scale(1.1);
     -ms-transform:scale(1.1);
     -o-transform:scale(1.1);
  }
  
  }

  @keyframes gif-brich{
20%{
  border: #535bf2 solid;

}

40%{
  border: red solid;
}

60%{
  border: blue solid;
}

80% {
  border: green solid;
}
  }


.with{
  width: 10%;
  animation: gif-move infinite 1s;
  -webkit-animation: gif-move infinite 1s;
}
  

.with:hover{
  animation: gif-brich infinite 2s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: gif-brich infinite 2s;
}

  .cursorPointer{

    cursor: pointer;
  }

.col-md-4{

  width: 30%;

}



